@use "../custom" as *;
@use "../components/mixins" as *;

#about-me-anchor {
  top: -85px;
  visibility: hidden;
  position:relative
}

.about-me {
  padding: 2.5rem 0;

  &__bio {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 2rem auto;
    text-align: justify;
    width: 80%;
  }
}