@use "../custom" as *;
@use "../components/mixins" as *;

#resume-anchor {
  top: -80px;
  visibility: hidden;
  position:relative
}

.resume {
  padding: 3.5rem 0 3rem;
  background-color: $white;
}

.resume-content {
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  width: 80%;

  &__link {
    text-align: center;
  }

  &__icon {
    display: inline-block;
    margin: 1rem 0;
    width: 3rem;
    height: auto;
  }

  &__text {
    display: block;
    font-size: 1.25rem;
  }
}